<!-- 
<table border=1>
  <thead>
    <th> Name </th>
    <th> Current Address </th>
    <th> Permemnat Address </th>
    <th> Mobile </th>
    <th> Date of birth</th>
    <th> Marital Status </th>
    <th *ngFor="let field of edFields">
      {{ field }}
    </th>
    <th> Experience/Fresher</th>
    <th> Job experience</th>
    <th> Language</th>
  </thead>
  <tbody *ngIf="UserData">
    <td> {{UserData.name}}</td>
    <td> {{UserData.cAddress}}</td>
    <td> {{UserData.pAddress}}</td>
    <td> {{UserData.Mobile}}</td>
    <td> {{UserData.dob | date}}</td>
    <td> {{UserData.MaritalStatus}}</td>
    <div *ngFor="let edu of EducationDetails">
      {{edu.course}}
      {{edu.passingYear}}
      {{edu.cpa}}
      {{edu.university}}
    </div>
    </ /!-- <td> {{ EducationDetails[0].course}} </td>
    <td> {{ EducationDetails[0].passingYear}} </td>
    <td> {{ EducationDetails[0].cpa}} </td>
    <td> {{ EducationDetails[0].university}} </td>
    -//->
    <td>
      <tr *ngFor="let job of JobExperience">
        <td> {{ job }}</td>
      </tr>
    </td>
    <! //-- <td>azsd</td> -//->
      <td> {{UserData.experienceFresher}}</td>
      <td> </td>
  </tbody>
</table>
-->

<div class="container">

  <div class="name">
    <p>{{ UserData?.name }} </p>
  </div>
  <div class="id">
    {{ UserData?._id }}
  </div>
  <div class="hero-info">
    <h2 class="main-heading">General Info</h2>
    <ul>
      <li><span>Name</span> {{ UserData?.name }}</li>
      <li><span>Date of Birth</span> {{ UserData?.dob }}</li>
      <li><span>Current Address</span> {{ UserData?.cAddress }}</li>
      <li><span>Present Address</span> {{ UserData?.cAddress }}</li>
      <li><span>E-mail</span>{{ UserData?.email }}</li>
      <li><span>Phone </span>{{ UserData?.Mobile }}</li>
      <li><span>Merital Status</span>{{ UserData?.MaritalStatus }}</li>
      <li><span>Gender</span>{{ UserData?.gender }}</li>
    </ul>
  </div>
  <div class="resume-section-content">
    <h2 class="main-heading">Education</h2>
    <!-- <ng-template *ngIf="EducationDetails?.length"> -->
    <div *ngFor="let ed of EducationDetails">
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0 edu-titele"> University : {{ ed?.university}}</h3>
          <div class="subheading mb-3"> Course : {{ ed?.course }}</div>
          <div class="edu-detail"> CPA : {{ ed?.cpa }} </div>
          <!-- <p> CPA : {{ ed["cpa"] }} </p> -->
        </div>
        <div class="flex-shrink-0"><span class="text-primary">Passing Year : {{ ed.passingYear }}</span></div>
      </div>
    </div>
    <!-- </ng-template> -->
    <!-- <div *ngIf="JobExperience.length"> -->
    <h2 class="main-heading">Job Experience</h2>
    <div *ngFor="let field of JobExperience">
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0 edu-titele"> Position : {{ field.position}}</h3>
          <div class="subheading mb-3"> Company : {{ field.companyName }}</div>
          <div class="edu-detail"> From : {{ field.from }} </div>
          <div class="edu-detail"> To : {{ field.to }} </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <h2 class="main-heading">Languages</h2>
    <div *ngFor="let lang of UserData?.languages">
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <!-- <h3 class="mb-0 edu-titele"> Position : {{ field["position"]}}</h3> -->
          <!-- <div class="subheading mb-3"> {{ lang.name }}</div> -->
          <div class="edu-detail">{{ lang.name }}</div>
          <!-- <div class="edu-detail"> To : {{ ed["to"] }} </div> -->
        </div>
        <!-- <div class="flex-shrink-0"><span class="text-primary">Passing Year : {{ ed["passingYear"] }}</span></div> -->
      </div>
    </div>
    <div *ngIf="cvfile; else noCv">
      <button (click)="cvLogic();"> Download CV </button>
    </div>
    <ng-template #noCv>
      <strong>No cv is uploaded </strong>
    </ng-template>
  </div>
</div>
<!--
<div>
  <div>
    Id : {{ UserData?._id }}
  </div>
  <div>
    <p> Name : {{ UserData?.name }} </p>
  </div>
  <div>
    <p> Current Address : {{ UserData?.cAddress }} </p>
  </div>
  <div>
    <p> Permemnat Address : {{ UserData?.pAddress }} </p>
  </div>
  <div>
    <p> Mobile : {{ UserData?.Mobile }}</p>
  </div>
  <div>
    <p> Date of birth : {{ UserData?.dob }} </p>
  </div>
  <div>
    <p> Marital Status : {{ UserData?.MaritalStatus }} </p>
  </div>
  <div>
    Gender : {{ UserData?.gender }}
  </div>
  <div>
    <p><strong> EducationDetails : </strong></p>
    <div *ngFor="let ed of EducationDetails;">
      <div *ngFor="let fields of keys(ed);">
        {{ fields }} : {{ ed[fields] }}
      </div>
      <hr>
    </div>
  </div>
  <div *ngIf="JobExperience">
    <p><strong> Experience/Fresher :</strong></p>
    <div *ngFor="let job of JobExperience">
      <div *ngFor="let k of keys(job);">
        {{ k }} : {{ job[k] }}
      </div>
      <hr>
    </div>
  </div>
  <div>
    <p><strong> Language :</strong></p>
    <div *ngIf="UserData?.languages.length">
      <div *ngFor="let language of UserData?.languages;">
        {{ language["name"] }}
      </div>
    </div>
    <p *ngIf="!UserData?.languages.length"> No languages found </p>
    <div>
      PaymentID: {{ UserData?.transactionId }}
    </div>
    <div *ngIf="cvfile; else noCv">
      <button (click)="cvLogic();"> Download CV </button>
    </div>
    <ng-template #noCv>
      <strong>No cv is uploaded </strong>
    </ng-template>
  </div>
</div>
-->